
.courses_filter_style{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow-2xl) ;
    padding: 8px;
    margin: 0 8px;
    color: var(--color-first);
    border: 1px solid var(--color-gray-300);
    border-radius: var(--radius-2xl) ;
    font-family: var(--font-dirooz);
    margin: 8px 0;
}
.courses_filter_style span{
    font-size: 14px;
    /* width: 45%; */
    /* background-color: red; */
    text-align: right;

}
.courses_filter_style select{
    font-family: vazir;
    /* font-size: 14px; */
    
}